<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/']"><b>{{'signin.name'| translate}}</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">{{ 'signin.title' | translate}}</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group mb-3">
          <input formControlName="email"
                 type="email"
                 class="form-control"
                 placeholder="{{'signin.username' | translate}}" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input formControlName="password"
                 type="password"
                 class="form-control"
                 placeholder="{{'signin.password' | translate}}" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" />
              <label for="remember">
                <span translate="signin.rememberMe"></span>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-5">
            <app-button [type]="'submit'"
                        [block]="true"
                        [text]="'signin.btnSignIn'"
                        [loading]="isAuthLoading"></app-button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <div class="margin">
        <div class="btn-group">
          <button type="button" class="btn btn-default">{{'global.lang' | translate }}</button>
          <button type="button" id="translation" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div aria-labelledby="translation" class="dropdown-menu" role="menu">
            <a class="dropdown-item" (click)="useLanguage('en')">{{'global.translationEn' | translate }}</a>
            <a class="dropdown-item" (click)="useLanguage('zh-tw')">{{'global.translationTw' | translate }}</a>
          </div>
        </div>
      </div>
      <!--<div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div>-->
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a [routerLink]="['/forgot-password']"><span translate="signin.forgetPassword"></span></a>
      </p>
      <p class="mb-0">
        <a [routerLink]="['/register']" class="text-center"><span translate="signin.signUp"></span></a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
