<h1 *ngIf="isAddMode">新增員工資料</h1>
<h1 *ngIf="!isAddMode">修改員工資料</h1>
<!--<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="password">
        Password
        <em *ngIf="!isAddMode">(Leave blank to keep the same password)</em>
      </label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    <a routerLink="/users" class="btn btn-link">Cancel</a>
  </div>
</form>-->
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">員工資料</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">編號</label>
                <input type="text" formControlName="userID" class="form-control" id="userID" placeholder="Enter 編號">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">姓名</label>
                <input type="text" formControlName="username" class="form-control" id="username" placeholder="Enter 姓名">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- checkbox -->
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" formControlName="sex" value="0" type="radio" name="sex" checked>
                      <label class="form-check-label">女</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- radio -->
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" formControlName="sex" value="1" type="radio" name="sex">
                      <label class="form-check-label">男</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>部門</label>
                    <select class="form-control" formControlName="department">
                      <option [ngValue]="null" disabled>請選擇</option>
                      <option *ngFor="let item of departments" [ngValue]="item.id">
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Select Disabled</label>
                    <select class="form-control" disabled>
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">職級</label>
                <input type="text" formControlName="rank" class="form-control" id="rank" placeholder="Enter 職級">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">職等</label>
                <input type="text" formControlName="level" class="form-control" id="level" placeholder="Enter 職等">
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>員工類別</label>
                    <select class="form-control" formControlName="employeeCategory">
                      <option [ngValue]="null" disabled>請選擇</option>
                      <option *ngFor="let item of employeeCategories" [ngValue]="item.id">
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>就職狀態</label>
                    <select class="form-control" formControlName="employmentStatus">
                      <option [ngValue]="null" disabled>請選擇</option>
                      <option *ngFor="let item of employmentStatus" [ngValue]="item.id">
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">到職日</label>
                <input type="date" formControlName="onTheJobDay" class="form-control" id="onTheJobDay" placeholder="Enter 到職日">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">狀態</label>
                <input type="text" formControlName="status" class="form-control" id="status" placeholder="Enter 狀態">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">離職日</label>
                <input type="date" formControlName="resignationDay" class="form-control" id="resignationDay" placeholder="Enter 離職日">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">手機</label>
                <input type="tel" formControlName="phone" class="form-control" id="phone" placeholder="Enter 手機">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">公司電話</label>
                <input type="tel" formControlName="workPhone" class="form-control" id="workPhone" placeholder="Enter 公司電話">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">身分證號</label>
                <input type="text" formControlName="idNumber" class="form-control" id="idNumber" placeholder="Enter 身分證號">
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button routerLink="..">取消</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
